

<div class="containe">
<h1 class="title">Items Listing</h1>

<% if !@favorites.present? %>
        <h1 align="center">
            No item Available!
        </h1>
<% else %>

<div class="card-deck">
    <% @favorites.each do |item| %>
        <div class="row">
            <div class="col-12">
                <div class="item">
                    <div class="card item">
                        
                        <%= link_to get_item(item.item_id) do %>
                            <%= image_tag get_item_picture(item.item_id), size: '276x180', class: "card-img-top" %>
                        <% end %>
                        <div class="card-body">
                            <h5 class="card-title"><%= get_item_name(item.item_id) %></h5>
                            <h8 class="card-title">$ <%= get_item_price(item.item_id) %></h8>
                        </div>
                        <div class="card-footer" >
                            <small class="text-muted"><%= item.updated_at.to_date.strftime('%a, %e %b %y') %></small>
                            <% if signed_in? %>
                                <% if already_liked?(get_item(item.item_id), current_user) %>
                                    <%= link_to 'Liked <i class="fa fa-thumbs-down "></i>'.html_safe, remove_like_path(id: item.item_id), :id => 'my-link', remote: true, class: "like dontscroll", method: :delete %></a>
                                <% else %>
                                    <%= link_to 'Like <i class="fa fa-thumbs-up "></i>'.html_safe, add_like_path(id: item.item_id), :id => 'my-link', remote: true, class: "like", method: :post %></small>
                                <% end %>
                            <% end %>    
                        </div>
                        <% if signed_in? %>
                            <% if current_user.already_included?(get_item(item.item_id), current_user) %>
                                <%= link_to 'Remove from Cart', remove_order_path(id: item.item_id), class: 'btn btn-danger', remote: true, method: :delete %>
                            <% else %>
                                <%= link_to 'Add To Cart', add_order_path(item_id: item.item_id), class: 'btn btn-primary', remote: true, method: :post %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
            
<% end %>
</div>

