<% if @favorites.empty? %>
    <div class="containe">
        <h1 align="center">
            No item Available!
        </h1>
    </div>
<% else %>
    <% @favorites.each do |item| %>
        <div class="container">

            <div class="card-deck">
                <div class="row">
                    <div class="col">
                    
                        <div class="card item">
                            <%= image_tag get_item_picture(item.item_id), size: '276x180', class: "card-img-top" %>
                            <div class="card-body">
                                <h5 class="card-title"><%= get_item_name(item.item_id) %></h5>
                                <h8 class="card-title">$ <%= get_item_price(item.item_id) %></h8>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><%= item.updated_at.to_date.strftime('%a, %e %b %y') %> 
                                <% if already_liked?(get_item(item.item_id), current_user)%>
                                    <%= link_to '<i class="fa fa-thumbs-down "></i>'.html_safe, remove_like_path(id: item.item_id), class: "like", method: :delete %></small>
                                <% else %>
                                    <%= link_to '<i class="fa fa-thumbs-up "></i>'.html_safe, add_like_path(id: item.item_id), class: "like", method: :post %></small>
                                <% end %>    
                            </div>
                            <% if current_user.already_included?(get_item(item.item_id), current_user) %>
                                <%= link_to 'Remove from Cart', remove_order_path(id: item.item_id), class: 'btn btn-danger', method: :delete %>
                            <% else %>
                                <%= link_to 'Add To Cart', add_order_path(item_id: item.item_id), class: 'btn btn-primary', method: :post %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <% end %>
<% end %>