
<% if @all_users.present? %>
    <div class="container">
        <h1>All Users</h1>

        <%= form_tag search_user_path, remote: true, method: :get do %>
            <div class="form group row">
                <div class="col-sm-9 no-right-padding">
                    <%= text_field_tag :user, params[:user], placeholder: 'Search..', autofocus: true, class: 'form-control form-control-lg' %>
                </div>
                <div class="col-sm-3 no-left-padding">
                    <%= button_tag type: :submit, class: 'btn btn-success' do %>
                        <%= fa_icon 'search 2x' %>
                    <% end %>
                
                </div>
            </div>
        <% end %>

        <div id="usersResult">
        

        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Orders</th>
                <th scope="col">Likes</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <% @all_users.each do |user| %>
            <tbody>
            <tr>
                    <th scope="row"><%= user.id%></th>
                    <td><%= get_user_full_name(user.id) %></td>
                    <td><%= get_user_orders(user.id) %></td>
                    <td><%= get_user_likes(user.id) %></td>
                    <td>
                        <%= link_to "Make ADMIN", make_admin_path(id: user.id), remote: true, class: "btn btn-primary", method: :post%>
                    </td>
            </tr>
                
            </tbody>
        <% end %>
        </table>
    </div>
<% end %>
<% if @admins.present? %>
    <h1>Admins</h1>
    
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">User ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Orders</th>
        <th scope="col">Likes</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <% @admins.each do |admin| %>
    <tbody>
    <tr>
            <th scope="row"><%= admin.id%></th>
            <td><%= get_user_full_name(admin.id) %></td>
            <td><%= get_user_orders(admin.id) %></td>
            <td><%= get_user_likes(admin.id) %></td>
            <td>
                <% if current_user != admin %>
                    <%= link_to "Make User", undo_admin_path(id: admin.id), remote: true, class: "btn btn-danger", method: :post %>
                <% end %>
            </td>
            
        </tr>
        
    </tbody>
    <% end %>
    </table>

</div>
<% end %>


